product{% extends "main/base.html" %}


{% block content %}
    <div class="max-w-6xl mx-auto flex flex-wrap py-6 px-6 xl:px-0">
        <div class="pictures w-full m-6 lg:mb-0 lg:w-3/5">
            <img src="" alt="" class="rounded-xl">
        </div>
        <div class="info w-full lg:w-2/5 lg:p-6">
            <h1 class="text-2xl">Product Name</h1>

            <p class="mt-1 text-black">19.99$</p>

            <p class="mt-6 text-black">joasdgihoahsdasöljdkjasdklagb</p>

            <a href="" class="mt-6 inline-block px-8 py-4 rounded-xl text-black">Add to cart </a>
        </div>
    </div>

{% endblock %}