<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4a4be438a6.js" crossorigin="anonymous"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <title>Shoppy</title>
</head>
<body>

    <!-- navigation -->
    <nav class="border-b border-gray-300">
        <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 md:flex items-center justify-between">
            <div class="nav-left flex items-center space-x-6">
                <a href="" class="py-4 text-xl text-black font-bold ">Shoppy</a>
                <ul class="flex items-center space-x-4">
                    <li><a href="{% url 'shop' %}">Goods</a></li>
                    <li><a href="">About</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="nav-right flex items-center space-x-4">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                      </svg>
                      
                </a>
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                      </svg>
                      
                </a>
                {% include 'cart/menu_cart.html' %}
            </div>
        </div>
    </nav>

    <!-- main content -->

    <main>
        {% block content %}
        {% endblock %}
    </main>
<br>
    <!-- Footer  -->

    <footer class="bg-gray-400">
        <div class="max-w-6xl mx-auto py-8 px-4 xl:px-1 md:flex justify-between">
            <div class="footer-left mb-12 md:mab-2">
                <h1 class="mb-5 text-xl uppercase text-black">
                    about us
                </h1>
                <p class="text-white">Lorem ipsum dolor sit amet co</p>
            </div>
            <div class="footer-right">
                <h1 class="mb-5 uppercase text-xl text-black">
                    find us on
                </h1>
                <ul class="space-y-2">
                    <li><a href="" class="text-black hover:text-white">Facebook</a></li>
                    <li><a href="" class="text-black hover:text-white">Instagram</a></li>
                    <li><a href="" class="text-black hover:text-white">Twitter</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
</body>
</html>